.header {
        display: grid;
        grid-template-columns:1fr;
}
.header > div {
        background-color: #eee;
}
.header .nav{
}
.header li{
float:left;
display: inline;
width: 100px;
font-size:1em;
font-weight: 600;
padding:22px;
text-align:center;
}



.nav a:hover {
    color: #000;
  background-color: #ecf0f1;
    border-radius: 3px;
  opacity: 0.75;
    font-weight: bold;
  box-shadow: 3px 3px 12px #888888;}

a{
text-decoration: none;

}
.header > div:nth-child(odd) {
        background-color: #cc8726;
        border-bottom: tomato  1px solid;
        padding:0;
}

#img {
    margin: 0 auto;
    width: 100%;
}

.content {
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-column-gap:1em;
}
.content .article {
        
    background-color: #ffc;
}


.content .post {
    background-color: #ddd;
}
.content li {
    font-size: 2em;
}

.content h3 {
    text-align: left;
    padding-left: 10;
}
footer {
    margin-top:1em;
    background-color: #cc8726;
    color: #ffffff;
    padding-top: 10px;
    height: 40px;
    text-align: center;
}
